<!DOCTYPE html>
<html style="width:100%">

<head>
  {% block title %}
  <title>
    {% load static %}
    Avrio Energy
  </title>{% endblock %}
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:900i&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="{% static 'images/logoinverticon.png' %}" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand btn btn-link" href="/core/"> <img src="{% static 'images/logoinvert.png' %}" height="65px" id="logo" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link btn btn-link" href="/core/"style="color:white">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-link" href="/core/SmartSol"style="color:white">SmartSol</a>
          </li>
    
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"style="color:white">Update</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/core/blog">Blog</a>
              <a class="dropdown-item" href="/core/gallery">Gallery</a>
              <a class="dropdown-item" href="/core/news">News</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-link" style="color:white"href="/core/about_us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-link" style="color:white"href="/core/team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-link"style="color:white" href="/core/contact">Contact Us</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
  </header>
</body>


{% block content %}

{% endblock %}

<footer class="page-footer font-small blue-grey lighten-5">

  <div class="container text-center text-md-left mt-5">

    <div class="row mt-4">

      <div class="col-md-4 col-lg-4 col-xl-4">
        <h6 class="text-uppercase font-weight-bold">About</h6>
        <br>
        <div>
          <a class="dark-grey-text" href="/core/about_us">Company</a>
        </div>
        <br>
        <div>
          <a class="dark-grey-text" href="/core/contact">Contact</a>
        </div>
        <br>
        <div>
          <a class="dark-grey-text" href="/core/faq">FAQ</a>
        </div>
        <br>
        <div>
          <a class="dark-grey-text" href="/core/privacy">Privacy Policy</a>
        </div>
        <br>

      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 justify-content-center">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
        <div>
          <a href="http://www.facebook.com" target="_blank" class="fa fa-facebook"></a>

          &nbsp;&nbsp;&nbsp;
          <a href="http://www.twitter.com" target="_blank" class="fa fa-twitter"></a>

          <br>
          <a href="http://www.linkedin.com" target="_blank" class="fa fa-linkedin"></a>
          &nbsp;&nbsp;&nbsp;
          <a href="http://www.instagram.com" target="_blank" class="fa fa-instagram"></a>
        </div>

      </div>
      <div class="col-md-4 col-lg-4 col-xl-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <br>
        <div>
          <i class="fas fa-home mr-3"></i> Barakhambha Road, Delhi 000000, INDIA</p>
        </div>

        <div>
          <i class="fas fa-envelope mr-3"></i> avrio@123.com</p>
        </div>

        <div>
          <i class="fas fa-phone mr-3"></i> + 91 7081574737</p>
        </div>

        <div>
          <i class="fas fa-print mr-3"></i> + 91 2312332309</p>
        </div>
        <br>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center text-white-50 py-3">© 2019 Copyright by avrio team:
    <a class="dark-grey-text" href="http://avrioenergy.in/">avrioenergy.com</a>
  </div>
</footer>

</html>

<script>
  /*! Fades in page on load */
  $('body').css('display', 'none');
  $('body').fadeIn(500);
  $(document).ready(function() {
    $(document).bind("contextmenu", function(e) {
      return false;
    });
  });
</script>
