{% extends "base_generic.html" %}
{% load static%}
{% block content %}
Cache-Control: no-cache;
<link rel="stylesheet" href="{%static '/css/smartsol.css'%}">
<div style="margin-top:70px">
  <div class="container justify-content-center">

    <div class="row">

      <div class="col-lg-12 col-sm-6">
        <img src="{%static '/images/product1.png'%}" class="img-fluid responsive vert-move" alt="">
      </div>

    </div>
  </div>


  <div class="container justify-content-center working">

    <div class="row">
      <div class="col-lg-12 col-sm-6">
        <img src="{%static '/images/product2.png'%}" class="img-fluid responsive vert-move" alt="">
      </div>

    </div>
  </div>



  <section class="about section-margin pb-xl-70">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xl-6 mb-5 mb-md-0 pb-5 pb-md-0">
          <div class="img-styleBox">
            <div class="styleBox-border">
              <img class="styleBox-img1 img-fluid" src="img/home/about-img1.png" alt="">
            </div>
            <img class="styleBox-img2 img-fluid" src="img/home/about-img2.png" alt="">
          </div>
        </div>
        <div class="col-md-6 pl-md-5 pl-xl-0 offset-xl-1 col-xl-5">
          <div class="section-intro mb-lg-4">
            <h4 class="intro-title">For Buildings</h4>
            <h2>We speak the good food language</h2>
          </div>
          <p>Living first us creepeth she'd earth second be sixth hath likeness greater image said sixth was without male place fowl evening an grass form living fish and rule lesser for blessed can't saw third one signs moving stars light divided
            was two you him appear midst cattle for they are gathering.</p>

        </div>
      </div>
    </div>
  </section>

  <section class="about section-margin pb-xl-70">
    <div class="container">
      <div class="row">

        <div class="col-md-6 pl-md-5 pl-xl-0 offset-xl-1 col-xl-5">
          <div class="section-intro mb-lg-4">
            <h4 class="intro-title">Utilities</h4>
            <h2>We speak the good food language</h2>
          </div>
          <p>Living first us creepeth she'd earth second be sixth hath likeness greater image said sixth was without male place fowl evening an grass form living fish and rule lesser for blessed can't saw third one signs moving stars light divided
            was two you him appear midst cattle for they are gathering.</p>

        </div>
        <div class="col-md-6 col-xl-6 mb-5 mb-md-0 pb-5 pb-md-0">
          <div class="img-styleBox">
            <div class="styleBox-border">
              <img class="styleBox-img1 img-fluid" src="img/home/about-img1.png" alt="">
            </div>
            <img class="styleBox-img2 img-fluid" src="img/home/about-img2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about section-margin pb-xl-70">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xl-6 mb-5 mb-md-0 pb-5 pb-md-0">
          <div class="img-styleBox">
            <div class="styleBox-border">
              <img class="styleBox-img1 img-fluid" src="img/home/about-img1.png" alt="">
            </div>
            <img class="styleBox-img2 img-fluid" src="img/home/about-img2.png" alt="">
          </div>
        </div>
        <div class="col-md-6 pl-md-5 pl-xl-0 offset-xl-1 col-xl-5">
          <div class="section-intro mb-lg-4">
            <h4 class="intro-title">Applications</h4>
            <h2>We speak the good food language</h2>
          </div>
          <p>Living first us creepeth she'd earth second be sixth hath likeness greater image said sixth was without male place fowl evening an grass form living fish and rule lesser for blessed can't saw third one signs moving stars light divided
            was two you him appear midst cattle for they are gathering.</p>

        </div>
      </div>
    </div>

  </section>


  <section class="about section-margin pb-xl-70">
    <div class="container">
      <div class="row">

        <div class="col-md-6 pl-md-5 pl-xl-0 offset-xl-1 col-xl-5">
          <div class="section-intro mb-lg-4">
            <h4 class="intro-title">About Us</h4>
            <h2>We speak the good food language</h2>
          </div>
          <p>Living first us creepeth she'd earth second be sixth hath likeness greater image said sixth was without male place fowl evening an grass form living fish and rule lesser for blessed can't saw third one signs moving stars light divided
            was two you him appear midst cattle for they are gathering.</p>
        </div>
        <div class="col-md-6 col-xl-6 mb-5 mb-md-0 pb-5 pb-md-0">
          <div class="img-styleBox">
            <div class="styleBox-border">
              <img class="styleBox-img1 img-fluid" src="img/home/about-img1.png" alt="">
            </div>
            <img class="styleBox-img2 img-fluid" src="img/home/about-img2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about section-margin pb-xl-70">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xl-6 mb-5 mb-md-0 pb-5 pb-md-0">
          <div class="img-styleBox">
            <div class="styleBox-border">
              <img class="styleBox-img1 img-fluid" src="img/home/about-img1.png" alt="">
            </div>
            <img class="styleBox-img2 img-fluid" src="img/home/about-img2.png" alt="">
          </div>
        </div>
        <div class="col-md-6 pl-md-5 pl-xl-0 offset-xl-1 col-xl-5">
          <div class="section-intro mb-lg-4">
            <h4 class="intro-title">Dashboard</h4>
            <h2>We speak the good food language</h2>
          </div>
          <p>Living first us creepeth she'd earth second be sixth hath likeness greater image said sixth was without male place fowl evening an grass form living fish and rule lesser for blessed can't saw third one signs moving stars light divided
            was two you him appear midst cattle for they are gathering.</p>

        </div>
      </div>
    </div>
  </section>

  <section class="about section-margin pb-xl-70">
    <div class="container">
      <div class="row">

        <div class="col-md-6 pl-md-5 pl-xl-0 offset-xl-1 col-xl-5">
          <div class="section-intro mb-lg-4">
            <h4 class="intro-title">Hardware</h4>
            <h2>We speak the good food language</h2>
          </div>
          <p>Living first us creepeth she'd earth second be sixth hath likeness greater image said sixth was without male place fowl evening an grass form living fish and rule lesser for blessed can't saw third one signs moving stars light divided
            was two you him appear midst cattle for they are gathering.</p>

        </div>
        <div class="col-md-6 col-xl-6 mb-5 mb-md-0 pb-5 pb-md-0">
          <div class="img-styleBox">
            <div class="styleBox-border">
              <img class="styleBox-img1 img-fluid" src="img/home/about-img1.png" alt="">
            </div>
            <img class="styleBox-img2 img-fluid" src="img/home/about-img2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about section-margin pb-xl-70">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xl-6 mb-5 mb-md-0 pb-5 pb-md-0">
          <div class="img-styleBox">
            <div class="styleBox-border">
              <img class="styleBox-img1 img-fluid" src="img/home/about-img1.png" alt="">
            </div>
            <img class="styleBox-img2 img-fluid" src="img/home/about-img2.png" alt="">
          </div>
        </div>
        <div class="col-md-6 pl-md-5 pl-xl-0 offset-xl-1 col-xl-5">
          <div class="section-intro mb-lg-4">
            <h4 class="intro-title">Software</h4>
            <h2>We speak the good food language</h2>
          </div>
          <p>Living first us creepeth she'd earth second be sixth hath likeness greater image said sixth was without male place fowl evening an grass form living fish and rule lesser for blessed can't saw third one signs moving stars light divided
            was two you him appear midst cattle for they are gathering.</p>

        </div>
      </div>
    </div>
  </section>
</div>



<script>
  $(document).ready(function() {

      $(".navbar").css("background", "linear-gradient(to right, #1abc9c 0%, #0f705d 100%)"); // if not, change it back to transparent

  });
</script>
{%endblock%}
